<div class="app-option-menu" id="myTopnav"
  #stickyMenu2
     [class.sticky] = "sticky" >
    <a onclick="myFunction2()"  [routerLink]="['/']">Bienvenidos</a>
    <a onclick="myFunction2()"  [routerLink]="['/']">Inicio</a>
    <a onclick="myFunction2()"  [routerLink]="['listShoes/Niño/One']">Niño</a>
    <a onclick="myFunction2()"  [routerLink]="['listShoes/Niña/Two']">Niña</a>
    <a onclick="myFunction2()"  [routerLink]="['listShoes/Dama/tree']">Dama</a>
    <a onclick="myFunction2()"  [routerLink]="['listShoes/Caballero/for']">Caballero</a>
    <a onclick="myFunction2()" routerLink="/cart">Carrito</a>
    <a id="Crear" routerLink="/create_shoe">Crear</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
    </a>
</div>



