<br>
<div class="Form" style="text-align: center">
  <h2>Ingreso de Productos</h2>
  <div class="Form-SignUp">
    <form [formGroup]="insertShoe" (ngSubmit)="InsertShoe(insertShoe.value)">
      <label>Codigo:</label>
      <br>
      <input type="text" formControlName="id">
      <br>
      <label>Nombre:</label>
      <br>
      <input type="text" formControlName="name">
      <br>
      <label>URl_Image:</label>
      <br>
      <input type="file"
             formControlName="urlImage"
             #userPhoto
             (change)="onFileSelected($event)"
             name="image"
             autocomplete="off"
      />
      <br>
      <label>Price:</label>
      <br>
      <input type="number" formControlName="price" >
      <br>
      <label>Disponibilidad:</label>
      <br>
      <input type="text" formControlName="disponibilidad" >
      <br>
      <label>Cantidad:</label>
      <br>
      <input type="text" formControlName="cantidad" >
      <br>
      <label>Descripcion:</label>
      <br>
      <input type="text" formControlName="descripcion">
      <br>
      <label>Categoria:</label>
      <br>
      <select formControlName="categoria">
        <option value="Niño" selected>Niño</option>
        <option value="Niña">Niña</option>
        <option value="Dama">Dama</option>
        <option value="Caballero">Caballero</option>
      </select>
      <br>
      <label>Numeracion:</label>
      <br>
      <input type="text" formControlName="numeracion">
      <br>
      <input class="button" type="submit" value="Crear">
    </form>
  </div>
</div>

